
html {
    background-color: black;
}


body, .navbar {
  margin: 60px;
}
body {
 
    background-color: black; 

   
    font-size: 16px;
    color: var(--text-color);
    font-family: monospace, sans-serif; 


    margin: 80px;
}
.image-and-text,
.form-container {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(51, 141, 226);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-radius: 80px;
}

h2 {
    color: white ;
    font-family: monospace;
    text-align:center;
    font-size:x-large;
}

h3 {
    color: white ;
    font-family: monospace;
}

h4 {
    color: white ;
    font-family: monospace;
}

p {
    color: white ;
    font-family: monospace;
}
ul {
    font-family: monospace;
    color: white;
    list-style:circle;

}


a:link {
    color: black
}
a:visited{ 
    color: turquoise
}
a:hover{
    color: fuchsia
}
a:active{
    color: red
}

button {
  
    background-color: blue;   
    color: white;             
    border: none;            
    padding: 6px 22px;          
    border-radius: 10px;        
    cursor: pointer;           
    font-family: monospace;
}

button:hover {
    
    background-color: purple;
}


.header-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 80px;
}

.header-item:nth-of-type(1) {
    text-align: center;
    color: white;
    width: 50% , 50% ;
}
.header-item:nth-of-type(2){
  
    width: 50% , 50%;
    color:black ;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}
#header_img{
    margin-left: 14px;
    margin-right: 15px;
    width: 20px;
    max-width: 50px;
}
.header_button{
    background-color: orange;
    text-align: center;
    font-size: 23px;
    color: white;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border: white;
    cursor: pointer;

}



.navbar ul {
  z-index: 1000; /* Ensures the navbar is on top of other elements */
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 200px;  
  margin-top: 0;
  background-color: rgb(15, 163, 15);
}

.navbar ul li {
  float: left;
  margin: 10px;

}

.navbar ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white 
  
}

.navbar ul li a:hover {
  color: blue;
  background-color: orange;
  
}


.error {
  border-style: solid;
  border-width: 2px;
  border-color:black;
  background-color: red;
  
}



.rsvp-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
  color: white;

}
.form-container {
  color: white;
}

.rsvp-para {
    width: 80%;
    padding-right: 10px;
}

.rsvp-participants {
    width: 45%;
    padding-right: 10px;
}

.modal {
  display: None;   
  position: fixed;
  z-index: 2;   
  justify-content: center; 
  align-items: center; 

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.4); 

 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
  
    padding: 50px;
    width: 55%;


    background-color: rgb(0, 0, 0);
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;


    display: flex;

}


.light-mode, 
.light-mode html,
.light-mode body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  }





.light-mode h2 ,
.light-mode p,
.light-mode h3,
.light-mode h4,
.light-mode ul,
.light-mode .form-container,
.light-mode body {
  color:black;
}


.light-mode h1{
  color: black;
  background-color:red;
}
.light-mode button {
  color: black;
  background-color: blue;
}
.light-mode button:hover {
  color: black;
  background-color: orange;
}
.light-mode html {
  color: white;
}

.light-mode header{
  color: black
}


.light-mode a:link {
  color: white;
}
.light-mode a:visited {
  color: black;
}
.light-mode a:hover {
  color: red;
}
.light-mode a:hover {
  color: yellow;
}

.light-mode .navbar ul {
  background-color: black;
}



:root {
   
    --bg-color: #a6a0cf;
    --text-color: #231942;


    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

 
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;


    
}
